<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Testus</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body><!---->
  <header class="header">
    <h1 class="hidden">Новости культуры</h1>
    <a class="header__logo">
      <img src="<%=require('../../images/icons/logo.svg')%>" alt="Логотип Новостей культуры" width="345" height="32">
    </a>
    <nav class="navigation">
      <ul class="navigation__list list">
        <li class="navigation__element" ><a class="navigation__item link" href="">Новости</a></li>
        <li class="navigation__element" ><a class="navigation__item link" href="">Обзоры</a></li>
        <li class="navigation__element" ><a class="navigation__item link" href="">Музыка</a></li>
        <li class="navigation__element" ><a class="navigation__item link" href="">Архитектура</a></li>
        <li class="navigation__element" ><a class="navigation__item link" href="">Кино</a></li>
        <li class="navigation__element" ><a class="navigation__item link" href="">Театр</a></li>
        <li class="navigation__element" ><a class="navigation__item link" href="">Литература</a></li>
        <li class="navigation__element" ><a class="navigation__item link" href="">Религия</a></li>
        <li class="navigation__element" ><a class="navigation__item link" href="">Живопись</a></li>
      </ul>
    </nav>
  </header>

  <main class="content">
    <section class="promotion">
      <img class="promotion__logo" src="<%=require('../../images/logo-hotel.png')%>" alt="Логотип Подводного отеля" width="55" height="55">
      <a class="link" href="https://www.iloboyou.com/hydropolis-underwater-hotel-in-dubai/">
        <h2 class="promotion__title header2 link">Подводный отель</h2>
      </a>
      <p class="promotion__text text" >Как известно, Дубай – город контрастов. Самые революционные<br />
        и фантастические мечты архитекторов способен воплотить в жизнь 
        этот мегаполис, построенный на нефти и за счет нефти</p>
      <img class="promotion__background" src="<%=require('../../images/underwater-hotel.jpg')%>" alt="Интерьер спальни в номере отеля">
    </section>

    <section class="reviews">
      <h2 class="reviews__title header2">Обзоры</h2>
      
      <article class="reviews__article article-pre">
        <img class="article-pre__image" src="<%=require('../../images/monparnasse.jpg')%>" alt="">
        <a class="link" href="">
          <h3 class="article-pre__title header3 link">«Шальные годы» Монпарнаса</h3>
        </a>
        <p class="article-pre__paragraph text">В Музее изобразительных искусств имени Пушкина<br /> с 29 сентября 
          по 29 ноября проходит выставка «Шальные годы Монпарнаса»</p>
      </article>

      <article class="reviews__article article-pre">
        <img class="article-pre__image" src="<%=require('../../images/clay-in-the-hands.jpg')%>" alt="">
        <a class="link" href="">
          <h3 class="article-pre__title header3 link">Анатомия за 30 секунд</h3>
        </a>
        <p class="article-pre__paragraph text">Сейчас, когда мир открыт нараспашку для человека<br />
          и его познавательных изысканий, интерес
          к научно-популярной литературе заметно вырос</p>
      </article>

      <article class="reviews__article article-pre">
        <img class="article-pre__image" src="<%=require('../../images/spherical-eccentrics.jpg')%>" alt="">
        <a class="link" href="">
          <h3 class="article-pre__title header3 link">Сферические чудаки</h3>
        </a>
        <p class="article-pre__paragraph text">Корреспондентам «Культурного обозревателя» посчастливилось побывать 
          в театре «Сфера» на премьере спектакля «Чудаки и зануды»</p>
      </article>
    </section>

    <section class="subscription">
      <h2 class="subscription__title header2">Абонементы в театр</h2>
      <ul class="subscription__list list">
        <li>
          <a class="link" href="">
            <h3 class="subscription__item-title header3 link">Скидка 50% на весь сезон 2020</h3>
          </a>
          <p class="subscription__paragraph text">Покупая абонемент на сезон 2020 года 
            вы сэкономите половину стоимости всех спектаклей</p>
        </li>

        <li>
          <a class="link" href="">
            <h3 class="subscription__item-title header3 link">Места у сцены</h3>
          </a>
          <p class="subscription__paragraph text">Только для обладателей абонементов будет возможность 
            сесть поближе к сцене</p>
        </li>

        <li>
          <a class="link" href="">
            <h3 class="subscription__item-title header3 link">Автограф-сессия актёров</h3>
          </a>
          <p class="subscription__paragraph text">После спектаклей у вас будет возможность<br /> 
            пообщаться с актёрами и взять у них автограф</p>
        </li>
      </ul>
      <a class="subscription__more link" href="">Смотреть<span class="subscription__arrow">&#129122;</span></a>
    </section>
  </main>

  <footer>
    <a>
      <img src="" alt="">
    </a>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
    <hr>
    <aside>
      <a href=""><img src="" alt=""></a>
      <a href=""><img src="" alt=""></a>
      <a href=""><img src="" alt=""></a>
    </aside>
  </footer>

  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>